In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
!pwd

/content

## Data Loading
### Crawled from Everytime

In [0]:
book1 = pd.read_csv('/content/drive/My Drive/Colab Notebooks/SKKU_SoftwareEngineeringRecommendation/Data/ClassBooks(19-2).csv')
book2 = pd.read_csv('/content/drive/My Drive/Colab Notebooks/SKKU_SoftwareEngineeringRecommendation/Data/ClassBooks.csv')

lec1 = pd.read_csv('/content/drive/My Drive/Colab Notebooks/SKKU_SoftwareEngineeringRecommendation/Data/RRclass19-2.csv')
lec2 = pd.read_csv('/content/drive/My Drive/Colab Notebooks/SKKU_SoftwareEngineeringRecommendation/Data/RRclass20-1.csv')

In [0]:
book = pd.concat([book1, book2])

## Feature Engineering

In [0]:
book.columns = ['lec','prof','bk','author','publisher','money']

In [0]:
book['bk'] = book['bk'].str[5:-6]

In [0]:
lec = pd.concat([lec1, lec2])

In [0]:
book.reset_index(inplace=True,drop=True)

In [0]:
bkname = book['bk']

In [0]:
book[book['prof'] == '이은석']

            lec prof  ... publisher           money
862   소프트웨어공학개론  이은석  ...   Pearson  20,000원49,000원
3151    소프트웨어공학  이은석  ...   Pearson  20,000원49,000원
3158  소프트웨어공학개론  이은석  ...   Pearson  20,000원49,000원

[3 rows x 6 columns]

In [0]:
book.describe()

           lec  prof                     bk author  publisher          money
count     3194  3194                   3194   3194       3194           3194
unique     615   751                   1340   1072        404            678
top     학술적글쓰기   장선구  Poised to presen(개정판)  성균어학원  성균관대학교출판부  5,000원20,000원
freq       199    45                     72    169        599            184

In [0]:
book.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3194 entries, 0 to 3193
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   lec        3194 non-null   object
 1   prof       3194 non-null   object
 2   bk         3194 non-null   object
 3   author     3194 non-null   object
 4   publisher  3194 non-null   object
 5   money      3194 non-null   object
dtypes: object(6)
memory usage: 149.8+ KB

In [0]:
bkname.drop_duplicates(inplace=True)
bkname = pd.DataFrame(bkname)

In [0]:
bkname.reset_index(inplace=True,drop=True)
bkname.reset_index(inplace=True)

In [0]:
bkname.columns = ['book_id','bk']

In [0]:
lec

         0           1  ...  5     6
0       기타  GELT066-01  ...  1  4.00
1       기타  GELT041-01  ...  1  5.00
2       기타  GELT041-02  ...  1  4.86
3       기타  GELT041-03  ...  1  4.83
4       기타  GELT064-I1  ...  2  4.29
...    ...         ...  ... ..   ...
2195  실험실습  PHR3011-42  ...  1  0.00
2196  실험실습  PHR3012-41  ...  1  0.00
2197  실험실습  PHR3012-42  ...  1  0.00
2198  실험실습  PHR3015-41  ...  5  0.00
2199  실험실습  PHR3016-41  ...  5  0.00

[4891 rows x 7 columns]

In [0]:
lec.columns=['classify','serial','lec','prof','time','credit','rating']

In [0]:
book.head(1)

          lec prof                bk author  publisher          money
0  교실밖창업과실무기초  김경환  과학기술창업론(대학생을 위한)    김경환  성균관대학교출판부  8,000원18,000원

In [0]:
book1 = book[['lec','prof','bk','publisher','author']]

In [0]:
book1.drop_duplicates('bk').reset_index()

      index         lec  ...         publisher                               author
0         0  교실밖창업과실무기초  ...         성균관대학교출판부                                  김경환
1         1   교육방법및교육공학  ...               양서원              유승우, 임형택, 권충훈, 이성주, 이순덕
2         2   교육방법및교육공학  ...               양서원              유승우, 임형택, 권충훈, 이성주, 이순덕
3         5        교육심리  ...               학지사              신명희, 강소연, 김은경, 김정민, 노원경
4         6        교육심리  ...               학지사              신명희, 강소연, 김은경, 김정민, 노원경
...     ...         ...  ...               ...                                  ...
1335   3171      제어공학기초  ...             Wiley                Kuo, Farid Golnaraghi
1336   3188      디지털시스템  ...  Cengage Learning                       Charles H Roth
1337   3191       데이터통신  ...       McGraw-Hill                             Forouzan
1338   3192        생체역학  ...              한미의학  Sean P Flanagan, 김용운, 서정석, 엄길호, 이기광
1339   3193      스포츠통계학  ...            시그마프레스                             유극렬, 박주헌

[1340 rows x 6 columns]

In [0]:
llec = lec[['serial','lec','credit','rating']]

In [0]:
llec = llec.drop_duplicates('lec')

In [0]:
ser = pd.merge(book1, llec, on='lec', how='inner')

In [0]:
ser = ser.drop_duplicates('bk')

In [0]:
ser.reset_index(drop=True, inplace=True)
ser

             lec prof  ... credit rating
0     교실밖창업과실무기초  김경환  ...      2   4.29
1      교육방법및교육공학  서향희  ...      2   3.06
2      교육방법및교육공학  서향희  ...      2   3.06
3      교육방법및교육공학  강성원  ...      2   3.06
4           교육심리  김명숙  ...      2   4.38
...          ...  ...  ...    ...    ...
1335      제어공학기초  박기헌  ...      3   3.50
1336      제어공학기초  박기헌  ...      3   3.50
1337       데이터통신  이태진  ...      3   4.09
1338        생체역학  엄길호  ...      3   2.00
1339      스포츠통계학  엄한주  ...      3   2.00

[1340 rows x 8 columns]

In [0]:
#ser.to_csv('/content/drive/My Drive/Colab Notebooks/SKKU_SoftwareEngineeringRecommendation/Data/bookwithSerial.csv',index=False)

In [0]:
ser.reset_index(inplace=True)

### 학수번호에 있는 전공 (앞 3자리)
### 4번째 자리에 있는 교양, 학부(저, 고 학년), 학석, 대학원과목 분류를 가져와 difficulty feature생성.

In [0]:
ser['major'] = ser['serial'].str[:3]
ser['difficulty'] = ser['serial'].str[3:4]
ser.columns = ['book_id','lec','prof','bk','publisher','author','serial','credit','rating','major','difficulty']
ser

      book_id         lec prof  ... rating major difficulty
0           0  교실밖창업과실무기초  김경환  ...   4.29   GEL          T
1           1   교육방법및교육공학  서향희  ...   3.06   CFT          D
2           2   교육방법및교육공학  서향희  ...   3.06   CFT          D
3           3   교육방법및교육공학  강성원  ...   3.06   CFT          D
4           4        교육심리  김명숙  ...   4.38   CFT          D
...       ...         ...  ...  ...    ...   ...        ...
1335     1335      제어공학기초  박기헌  ...   3.50   EEE          3
1336     1336      제어공학기초  박기헌  ...   3.50   EEE          3
1337     1337       데이터통신  이태진  ...   4.09   ICE          3
1338     1338        생체역학  엄길호  ...   2.00   EBM          3
1339     1339      스포츠통계학  엄한주  ...   2.00   SPT          3

[1340 rows x 11 columns]

In [0]:
ser['major'].unique()

array(['GEL', 'CFT', 'BIZ', 'BUS', 'ECO', 'STA', 'GBA', 'GEC', 'PSY',
       'MAE', 'ENG', 'INT', 'CAL', 'ERC', 'COV', 'EEE', 'EME', 'ICE',
       'SWE', 'ESM', 'ECE', 'EAM', 'ECH', 'IKS', 'KLC', 'DKL', 'GCC',
       'HFS', 'GER', 'RUS', 'DSC', 'LIS', 'SWF', 'PHL', 'HIS', 'CHI',
       'FRE', 'EDU', 'COM', 'PAD', 'PIL', 'PSD', 'GLD', 'USS', 'MCJ',
       'SOC', 'CFS', 'KID', 'FBT', 'IBT', 'CHY', 'AAI', 'CNT', 'SPT',
       'BIO', 'ART', 'COS', 'MTH', 'GED', 'DBA', 'CLA', 'LIT', 'ILI',
       'JAP', 'CON', 'EBM'], dtype=object)

In [0]:
major_dict = {i:j for (i,j) in zip(ser.major.unique(), range(ser.major.nunique()))}
print(major_dict)

{'GEL': 0, 'CFT': 1, 'BIZ': 2, 'BUS': 3, 'ECO': 4, 'STA': 5, 'GBA': 6, 'GEC': 7, 'PSY': 8, 'MAE': 9, 'ENG': 10, 'INT': 11, 'CAL': 12, 'ERC': 13, 'COV': 14, 'EEE': 15, 'EME': 16, 'ICE': 17, 'SWE': 18, 'ESM': 19, 'ECE': 20, 'EAM': 21, 'ECH': 22, 'IKS': 23, 'KLC': 24, 'DKL': 25, 'GCC': 26, 'HFS': 27, 'GER': 28, 'RUS': 29, 'DSC': 30, 'LIS': 31, 'SWF': 32, 'PHL': 33, 'HIS': 34, 'CHI': 35, 'FRE': 36, 'EDU': 37, 'COM': 38, 'PAD': 39, 'PIL': 40, 'PSD': 41, 'GLD': 42, 'USS': 43, 'MCJ': 44, 'SOC': 45, 'CFS': 46, 'KID': 47, 'FBT': 48, 'IBT': 49, 'CHY': 50, 'AAI': 51, 'CNT': 52, 'SPT': 53, 'BIO': 54, 'ART': 55, 'COS': 56, 'MTH': 57, 'GED': 58, 'DBA': 59, 'CLA': 60, 'LIT': 61, 'ILI': 62, 'JAP': 63, 'CON': 64, 'EBM': 65}

In [0]:
import pickle
a_file = open("/content/drive/My Drive/Colab Notebooks/SKKU_SoftwareEngineeringRecommendation/Data/major_2_int.pkl", "wb")
pickle.dump(major_dict, a_file)
a_file.close()

In [0]:
diffi_dict = {i:j for (i,j) in zip(ser.difficulty.unique(), range(ser.difficulty.nunique()))}
print(diffi_dict)

{'T': 0, 'D': 1, '2': 2, '3': 3, '7': 4, '4': 5, 'C': 6, 'R': 7, 'G': 8, 'W': 9, 'I': 10, 'S': 11, 'B': 12, 'H': 13, 'N': 14}

과목분류

알파벳 : 교양기초과목

2 : 학부전공과목(저학년)

3 : 학부전공과목(고학년)

4 : 학석공통과목

5 : 대학원과목(석박공통과목)

6 : 박사과목

이어서 알파벳은 통일시킨다.

In [0]:
import re 
ser['difficulty'] = ser['difficulty'].apply(lambda x : '0' if re.match('[A-Z]', x) else x)

0 : 교양

1 : 전공 저학년

2 : 전공 고학년

In [0]:
diffi_dict = {i:j for (i,j) in zip(ser.difficulty.unique(), range(ser.difficulty.nunique()))}
print(diffi_dict)

{'0': 0, '2': 1, '3': 2, '7': 3, '4': 4}

In [0]:
ser['major'] = ser['major'].map(major_dict)
ser['difficulty']

0       0
1       0
2       0
3       0
4       0
       ..
1335    3
1336    3
1337    3
1338    3
1339    3
Name: difficulty, Length: 1340, dtype: object

In [0]:
ser['difficulty'].unique()

array(['0', '2', '3', '7', '4'], dtype=object)

Outlier. difficulty 설명에 없는 '7'로 분류된 과목이 하나 있음.

In [0]:
ser[ser['difficulty']== '7']

     book_id      lec prof            bk  ... credit rating major  difficulty
198      198  계량경제이론1  한희준  계량경제학. 1(7판)  ...      3   4.73     4           7

[1 rows x 11 columns]

계량경제이론은 고학년때 주로 듣는 수업으로 정보를 얻어 3으로 변경.

In [0]:
ser['difficulty'] = ser['difficulty'].apply(lambda x : '3' if x=='7' else x)

In [0]:
diffi_dict = {i:j for (i,j) in zip(ser.difficulty.unique(), range(ser.difficulty.nunique()))}
print(diffi_dict)

{'0': 0, '2': 1, '3': 2, '4': 3}

In [0]:
ser['difficulty'] = ser['difficulty'].map(diffi_dict)

In [0]:
ser.to_csv('/content/drive/My Drive/Colab Notebooks/SKKU_SoftwareEngineeringRecommendation/Data/booklec.csv', index=False)